
<div class="big-container">
  <div class="container">
    <section>
      <img src="/assets/logo@2x.png" alt="Logo Hero">
      <h1>Cadastro</h1>
      <p>Faça seu cadastro, entre na plataforma e ajude pessoas a encontrarem os casos da sua ONG.</p>

      <a routerLink="/register" routerLinkActive="router-link-active" >
        <i-feather name="arrow-left" class="smallIcon" style="color: red;"></i-feather>
        <p>Voltei para o login</p>
      </a>
    </section>
    <form action="">
      <input type="text" placeholder="Nome da ONG">
      <input type="email" name="email" id="email" placeholder="E-mail">
      <input type="number" placeholder="WhatsApp">
      <div class="address">
        <input type="text" placeholder="Cidade">
        <input type="text" placeholder="UF" style="width: 80px;">
      </div>
      <button type="submit" class="button">Cadastrar</button>
    </form>
  </div>
</div>
