
<div class="container">
  <div class="content">
    <section class="case-section">
      <img src="/assets/logo@2x.png" alt="Logo Hero">
      <h1>Cadastrar novo caso</h1>
      <p>Descreva o caso detalhadamente para encontrar um herói para resolver isso.</p>

      <a routerLink="/">
        <i-feather name="arrow-left" class="smallIcon" style="color: red;"></i-feather>
        <p>Voltar para home</p>
      </a>
    </section>
    <form>
      <input type="text" placeholder="Título do caso">
      <textarea name="" id="" placeholder="Descrição"></textarea>
      <input type="number" placeholder="Valor em reais">
      <div class="action-btn">
        <button type="button" class="btn cancel">Cancelar</button>
        <button type="button" class="btn save">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
