
<div class="container">
  <section class="login-form">
    <div class="login-header">
      <img src="/assets/logo@2x.png" alt="Logo Hero">
    </div>
    <div class="form">
      <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
        <h1>Faça seu Login</h1>
        <div class="input-block">
          <input type="text" placeholder="Enter your ID" formControlName="id_">
        </div>
        <button class="button" type="submit" >Entrar</button>
      </form>

      <div class="cadastro">
        <a routerLink="/register" routerLinkActive="router-link-active" >
          <i-feather name="log-in" class="smallIcon" style="color: red;"></i-feather>
          <p>Não tenho cadastro</p>
        </a>
      </div>
    </div>
  </section>
  <img src="/assets/heroes.png" alt="Imagens de amigos">
</div>

