<router-outlet />

<div class="profile-container">
  <header>
    <div class="header-logo">
      <img src="/assets/logo.png" alt="">
      <span>Bem-vinda, {{ ongName }}</span>
    </div>

    <div class="header-action">
      <a routerLink="new" class="button">Cadastrar novo caso</a>
      <button>
        <i-feather name="power" style="color: red;"></i-feather>
      </button>
    </div>
  </header>

  <h1>Casos cadastrados</h1>

  <ul>
    @for (case of caseList; track case.id) {
      <li>
        <strong>Caso:</strong>
        <p>{{ case.title }}</p>

        <strong>DESCRIÇÃO:</strong>
        <p>{{ case.description }}</p>

        <strong>VALOR:</strong>
        <p>{{ case.value | currency: 'R$ ' }} reais</p>

        <button type="button">
          <i-feather name="trash-2" style="color: #a8a8b3; size: 20;"></i-feather>
        </button>
      </li>
    }


    <li>
      <strong>Caso:</strong>
      <p>Caso teste</p>

      <strong>DESCRIÇÃO:</strong>
      <p>Descrição teste</p>

      <strong>VALOR:</strong>
      <p>R$ 120, 00 reais</p>

      <button type="button">
        <i-feather name="trash-2" style="color: #a8a8b3; size: 20;"></i-feather>
      </button>
    </li>

    <li>
      <strong>Caso:</strong>
      <p>Caso teste</p>

      <strong>DESCRIÇÃO:</strong>
      <p>Descrição teste</p>

      <strong>VALOR:</strong>
      <p>R$ 120, 00 reais</p>

      <button type="button">
        <i-feather name="trash-2" style="color: #a8a8b3; size: 20;"></i-feather>
      </button>
    </li>


  </ul>

</div>
