/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background: #f0f0f5;
}

input, button, textarea{
  font: 400 18px Roboto, sans-serif;
}

form input{
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid  #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}

.button {
  width: 100%;
  height: 60px;
  background: #e02041;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 60px;
  transition: .4s;
}

.button:hover {
  filter: brightness(90%);
}

button {
  cursor: pointer;
}
